@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
}

section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    grid-auto-columns: auto;
}

.title {
    font-weight: bolder;
    font-size: 2.5em;
    margin: 10%;
    font-family: 'Lato', sans-serif;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-item {
    margin: 38px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 15px;
    
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color: gray;
}

.cart-button {
    background:#2c888f;
    color: white;
    padding: 5px 14px;
    border-radius: 5px;
    border: none;
}

.cart-column {
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color:gray;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: gray;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.button-danger {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.3s;
}

.button-danger:hover {
    background-color: orange;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid white;
    background: transparent;
    color: gray;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}