@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background: black;
}

section {
    height: 100vh;
    width: 100vw;
    background: black;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

section span {
    position: absolute;
    background: url(/assets/dot.png);
    background-size: cover;
    border-radius: 50%;
    bottom: -50px;
    animation: rainingDots 4s linear infinite
}


@keyframes rainingDots {

    0% {
        transform: translateY(0%);
        opacity: 1;
    }

    90% {
        opacity: 1;
    }
    

    100% {
        transform: translateY(-2000%);
        opacity: 0;
    }

}

.content #logo {
    width: 250px;
    height: auto;
}

.main-button img {
    width: 100px;
    height: auto;
}

#product {
    display: none;
}

.row {
    position: relative;
}



.founders .row {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}


.founders .row img {
    width: 150px;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content #main {
    width: 250px;
    height: auto;
}

.content p {
    font-family: 'Lato', sans-serif;
    font-size: 1.3em;
    color: white;
}

.content .title {
    letter-spacing: 4px;
    text-transform: uppercase;
}

.content .download img {
    width: 100px;
    height: auto;
    margin: 7px;
}

#secret {
    font-size: 1.1em;
}

#world {
    font-size: 1.1em;
}

#secret-spot {
    color: #00C1ED;
}

#worlds {
    color: #F49C4C;
}

.pulse {
    width: 250px;
    height: 250px;
    background: url(/assets/earth.jpg);
    background-size: cover;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    margin: 40px;
    box-shadow: inset 0 0 80px rgba(255, 255, 255, 0.5);
    animation: animateEarth 60s linear infinite;
    transition: 0.5s;
}

.pulse:hover {
    border: 0.5px solid gray;

}


@keyframes animateEarth {

    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 3600px 0;
    }
    
}


/* Mobile Responsiveness */

@media(min-width: 767px) {

    
    .content #main {
        width: 450px;
        height: auto;
    }

    .content h1 {
        font-size: 2em;
    }
    
    .content .download img {
        width: 150px;
    }

    #secret {
        font-size: 2em;
    }
    
    #world {
        font-size: 2em;
    }


    .pulse {
        width: 450px;
        height: 450px;
    }
    
  
    
}

@media(min-width: 1024px) {

    .content #main {
        width: 650px;
        height: auto;
    }


    .content h1 {
        font-size: 3em;
    }

    .content .download img {
        width: 150px;
    }
    
    #secret {
        font-size: 3em;
    }
    
    #world {
        font-size: 3em;
    }
    
    .pulse {
        width: 650px;
        height: 650px;
    }
  
    
}


@media(min-width: 1200px) {


    .content {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: auto;
        max-width: 1500px;
        justify-content: space-between;
    }

    .content #logo {
        height: auto;
        width: 600px;
    }

    .content #product {
        height: 1100px;
        width: auto;
        float: right;
        display: initial;
    }

    .info {
        margin-right: 20px;
    }

    .founders {
        width: 100%;
        max-width: 1500px;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }

    .founders .row img {
        min-width: 600px;
        max-width: 40%;
        height: auto;
    }
    


    .content p {
        font-size: 2em;
    }

    .content p .subtitle {
        margin-top: -18px;
        font-size: 1em;
        font-weight: 200;
        position: relative;
    }

    .content .main-button img {
        width: 200px;
        height: auto;
    }

    .content .main-button:hover {
        box-shadow: 0 0 10px white, 
                    0 0 20px black,
                    0 0 40px white;
    }

    .content #android {
        margin-top: -20px;
        text-decoration: none;
        color: #00C4EE;
    }

    .row {
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .row a img {
    }

    .row a img:hover {
        border-radius: 50%;
        box-shadow: 0 0 20px orange,
                    0 0 30px black,
                    0 0 40px orange;

    }

    .row p {
        margin: 20px;
        font-size: 2em;
    }


  
    .content #main {
        width: 100%;
        height: auto;
    }

    .content h1 {
        font-size: 3em;
    }

    #download img {
        width: 180px;
    }

    #secret {
        font-size: 3.5em;
    }
    
    #world {
        font-size: 3.5em;
    }

    .pulse {
        width: 700px;
        height: 700px;
    }
    
  

    /* #download img:hover {
        border: none;
        offset: none;
        background: transparent;
        box-shadow: 0 0 10px lightblue,
                    0 0 20px black,
                    0 0 40px lightblue;
        border-radius: 10px;
    }
     */
}